.issue-container {
  margin-top: 20px;
  .navbar {
    padding: 20px 20px;
    border-radius: 5px;

    .form-check {
      display: inline-block;
    }

    .search-container {
      display: inline-block;
      margin-left: auto;
      .search {
        margin-left: 100px;
      }
    }

    .label-dropdown {
      margin-right: 105px;
      .label-dropdown-container {
        width: 200px;
        top: 45px;
        left: -125px;
        padding: 10px;
        text-align: left;
        border-radius: 5px;
        background-color: #212529;
        form {
          padding: 2px;
          .form-control {
            background-color: #212529;
            color: #eee;
            border-color: #343a40;
          }

          .clean-icon {
            content: url('../../../asset/clean.svg');
            width: 1.2rem;
            height: 1.2rem;
          }
          .btn {
            padding: 5px 10px;
          }
        }
        .dropdown-item {
          padding-left: 20px;
          background-color: #212529;
          color: #eee;
          border-radius: 3px;
          .badge {
            margin-right: 10px;
          }
        }
        .dropdown-item:hover {
          background-color: #343a40;
        }
      }
    }
    .sort-dropdown {
      margin-right: 70px;
      .sort-dropdown-container {
        width: 220px;
        top: 45px;
        left: -145px;
        padding: 10px;
        text-align: left;
        border-radius: 5px;
        background-color: #212529;
        .dropdown-item {
          background-color: #212529;
          border-radius: 3px;
          padding: 5px;
          color: #eee;
        }
        .dropdown-item:hover {
          background-color: #343a40;
        }
        .dropdown-divider {
          margin: 0;
          border-color: #343a40;
        }
      }
    }
  }
}
