.add-issue-btn {
  margin-top: 70px;
  height: 50px;
  border: 0.5px #222 dashed;
}

.description-text-area {
  resize: none;
}
.description-label {
  margin-top: 5px;
}

.create-btn-group {
  margin-top: 10px;

  .cancel-btn {
    margin-right: 10px;
  }
}
.add-label {
  margin-top: 5px;
  margin-right: 5px;
}
.added-labels-container {
  display: inline-block;

  .added-labels {
    margin-right: 3px;
    cursor: pointer;
  }
  .added-labels:hover {
    background-color: red;
  }
}
.remove-message {
  color: rgba($color: #222, $alpha: 0.5);
}
